body {
  font-family: system-ui, Georgia,  Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
    display: none;
}

.maintitle{
    font-family: Tahoma, sans-serif;
    text-shadow: 0px 4px 8px #000000;
    padding-left: 20px;
    padding-top: 20px;
    margin: auto;
}

.ruokalistacontainer{
  margin: auto;
  max-width: 720px;
  width: 100%;
  scale: 105%;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 16px #000000;
}

.hinta{
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.ruokatitle{
  text-align: left;
  margin-left: 82px;
  font-weight: bold;
  scale: 120%;
  text-shadow: 0px 1px 2px #000000;
}

#maincontainer{
  background: url('https://img.freepik.com/free-photo/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
}

.ruoka{
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.bottomtext{
  margin: auto;
  margin-bottom: 40px;
  max-width: 500px;
  width: 85%;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 16px #000000;
}

  .tiedot{
  margin-left: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.aukiolo{
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.yhteystitle{
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
  scale: 100%;
  text-shadow: 0px 1px 4px #000000;
  margin-top: 20px;
  padding-top: 20px;
}

.content-grid {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
}

@media (max-width: 1300px) {
  .content-grid{
    display: block;
  }
}

.lomake{
  margin: 10px;
  padding-left: 10px;
}

.send{
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px;
  border: 0;
  background-color: #00000070;
  box-shadow: 2px 2px 12px #000000;
  animation: sendhover 80ms;
  transition: 250ms;
}

.send:hover{
  transform: scale(105%);
  cursor: pointer;
  text-shadow: 0px 0px 8px #ffffff;
}

@keyframes sendhover {
    0% {
    transform: scale(100%);
    }
    100% {
    transform: scale(105%);
    }
}

.textbox{
  border-radius: 4px;
  resize: none;
  display: block;
  margin-bottom: 10px;
  width: 455px;
  height: 100px;
  background-color: #00000070;
  border: 0;
  box-shadow: 0px 4px 12px #000000;
}

.lomaketitle{
  text-shadow: 0px 1px 4px #000000;
}

.titlecontainer{
  background-color: #000000a5;
  padding-bottom: 14px;
  box-shadow: 0px 6px 20px #000000;
  backdrop-filter: blur(8px);
}

a{
  color: #ffffff;
  text-decoration: none;
}

.send2{
  scale: 120%;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 4px;
  padding: 10px;
  border: 0;
  background-color: #00000070;
  box-shadow: 2px 2px 12px #000000;
  animation: sendhover2 80ms;
  transition: 250ms;
}

.send2:hover{
  transform: scale(105%);
  text-shadow: 0px 0px 8px #ffffff;
}

@keyframes sendhover2 {
    0% {
    transform: scale(100%);
    }
    100% {
    transform: scale(105%);
    }
}

#vapaa{
  height: 100px;
  width: 455px;
  margin-bottom: 20px;
}

#vapaatext{
  margin-top: 40px;
}

.palautetext{
  text-shadow: 0px 2px 4px #000000;
}