body {
  font-family: system-ui, Georgia,  Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.maintitle{
    font-family: Tahoma, sans-serif;
    text-shadow: 0px 4px 8px #000000;
    padding-left: 20px;
    padding-top: 20px;
    margin: auto;
}

.ruokalistacontainer{
  margin: auto;
  max-width: 720px;
  width: 100%;
  scale: 105%;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 16px #000000;
}

.hinta{
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.ruokatitle{
  text-align: left;
  margin-left: 82px;
  font-weight: bold;
  scale: 120%;
  text-shadow: 0px 1px 2px #000000;
}

#maincontainer{
  background: url('https://img.freepik.com/free-photo/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  height: 100vh;
}

.ruoka{
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.bottomtext{
  margin: auto;
  max-width: 500px;
  width: 85%;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 16px #000000;
}

  .tiedot{
  margin-left: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.aukiolo{
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.yhteystitle{
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
  scale: 100%;
  text-shadow: 0px 1px 4px #000000;
  margin-top: 20px;
  padding-top: 20px;
}

.content-grid {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 40px;
}

@media (max-width: 1300px) {
  .content-grid{
    display: block;
  }
}

.lomake{
  margin: 10px;
  padding-left: 10px;
}

.send{
  border-radius: 4px;
  padding: 10px;
  border: 0;
  background-color: #00000070;
  
}

.textbox{
  border-radius: 4px;
  resize: none;
  display: block;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
}

.lomaketitle{
  text-shadow: 0px 1px 4px #000000;
}

.titlecontainer{
  background-color: #000000a5;
  padding-bottom: 14px;
  box-shadow: 0px 6px 20px #000000;
  backdrop-filter: blur(8px);
}