body {
  font-family: system-ui, Georgia,  Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.maintitle{
    font-family: Tahoma, sans-serif;
    text-shadow: 0px 4px 8px #000000;
    padding-left: 20px;
    padding-top: 20px;
    margin: auto;
}

.ruokalistacontainer{
  margin: auto;
  width: 720px;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 16px #000000;
  scale: 90%;
}

.hinta{
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.ruokatitle{
  text-align: left;
  margin-left: 82px;
  font-weight: bold;
  scale: 120%;
  text-shadow: 0px 1px 4px #000000;
}

#maincontainer{
  background: url('https://img.freepik.com/free-photo/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  height: 100vh;
}

.ruoka{
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-shadow: 1px 1px 4px #000000;
}

.bottomtext{
  scale: 90%;
  margin: auto;
  width: 720px;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 16px #000000;
}

.tiedot{
  margin-left: 20px;
  margin-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.aukiolo{
  margin-left: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-shadow: 0px 1px 2px #000000;
}

.yhteystitle{
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
  scale: 100%;
  text-shadow: 0px 1px 4px #000000;
  margin-top: 20px;
  padding-top: 20px;
}