body {
  font-family: system-ui, Georgia,  Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #242424;

  background-image:url('https://img.freepik.com/free-photo/abstract-blur-coffee-shop-cafe-interior_74190-6342.jpg');
  background-size: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.maintitle{
    font-family: Tahoma, sans-serif;
    text-shadow: 0px 4px 8px #000000;
}

